<% provide(:title, 'Cover Story title') %>
<div class="row" style="max-width:100%;  margin-top: 0px; padding-top:0px;">
	<section id="schooltesttop" class="slide">
	    <div class="bcg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#schooltesttop">
            <div class="hsContainer">
                <div class="hsContent" data-center="bottom: 200px; opacity: 1" data-top="bottom: 1200px; opacity: 0" data-anchor-target="#schooltesttop h3">
                	<h3>Story by: NAME | DATE</h3>
            		<h1 class="textwhite">Cover Story</h1>
	            </div>
	        </div>
	    </div>
	</section>
</div>
<div class="row">
	<div class="large-12 medium-12 columns">
		<h3>Headline here</h3>
		<p>Bacon ipsum dolor sit amet frankfurter short ribs sausage, bresaola drumstick jowl fatback tenderloin hamburger. Prosciutto spare ribs pork, pig shankle short ribs ground round shoulder beef ribs. Drumstick t-bone ribeye fatback bacon pork belly. Jowl corned beef andouille chicken, fatback ham hock hamburger bacon jerky biltong tail turkey. Filet mignon pork t-bone, chuck turducken kevin spare ribs pancetta landjaeger pork loin beef sausage pastrami bacon pork belly. Pork chop andouille bresaola bacon porchetta. Turducken beef tail brisket turkey ham jowl rump short loin short ribs shank tri-tip flank ball tip chuck.</p>

		<p>Beef ribs shoulder ham hock turducken flank shankle bacon pork chop doner tri-tip corned beef venison t-bone pork rump. Turducken leberkas porchetta ham. Kevin ham hock short ribs meatball jowl chuck shoulder, turkey corned beef spare ribs turducken. Sausage shankle frankfurter tenderloin. Sausage pork belly cow ball tip corned beef ground round prosciutto turducken. Pastrami landjaeger leberkas tri-tip, pork belly cow shank spare ribs jerky sausage.</p></p>

		<p>Pancetta short loin beef ribs jowl prosciutto ground round, biltong brisket filet mignon landjaeger kevin shank. Jowl shankle frankfurter, pig pork shank porchetta ham doner. Tongue flank ball tip andouille. Porchetta drumstick ribeye short loin ball tip pork. Ball tip sirloin bresaola pork tail salami, jowl shank drumstick ham hock short loin. Bacon pancetta cow ground round short loin ribeye.</p>

		<p>Sausage porchetta filet mignon turkey jowl salami andouille. Beef ribs meatloaf pork chop, t-bone tail tri-tip kevin drumstick ball tip pork loin leberkas. Porchetta shankle frankfurter strip steak meatball, leberkas beef ribs tongue fatback turkey corned beef kevin biltong. Pastrami bacon pancetta, prosciutto t-bone ham hock strip steak ham porchetta venison. Beef biltong sausage frankfurter t-bone tenderloin ham boudin turducken pastrami. Drumstick shankle bacon, landjaeger meatball kielbasa ribeye leberkas ham filet mignon. Beef ribs pastrami tri-tip, short loin jowl tenderloin landjaeger ground round swine.</p>

			<section id="ad1" class="slide">
			    <div class="bcg hide-for-small-only" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#ad1">
			    </div>
			</section><br>

		<p>Tenderloin ham hock kevin andouille rump salami doner spare ribs shankle. Tri-tip pig doner kevin kielbasa tongue venison pancetta bresaola boudin jowl shankle andouille. Ground round kielbasa andouille meatloaf ham sirloin brisket venison beef shank beef ribs sausage ball tip cow short ribs. Hamburger corned beef shank, fatback chicken salami biltong sirloin t-bone pastrami leberkas drumstick ground round. Spare ribs landjaeger ribeye shank, flank chicken kevin turkey salami pork loin ground round tongue drumstick. T-bone pork belly kielbasa, tenderloin sirloin pork loin jowl swine. Boudin cow jowl filet mignon pork shankle ribeye meatloaf tenderloin frankfurter.</p>

		<p>Porchetta kevin kielbasa pancetta ball tip strip steak leberkas pastrami. Bacon kielbasa leberkas tongue prosciutto tri-tip pork belly capicola drumstick pork loin turkey. Short loin jowl chuck strip steak, meatball kevin t-bone. Short ribs pork chop sausage meatloaf brisket capicola ball tip bacon tenderloin t-bone chuck ham hock tail pork loin biltong. Pig kielbasa jowl tri-tip filet mignon rump.</p>

		<p>Brisket turducken tail swine kielbasa. Bacon spare ribs porchetta pastrami pork belly rump t-bone. Meatloaf kevin pancetta meatball kielbasa ribeye pork belly ball tip jowl chuck rump biltong flank. Meatloaf tongue meatball prosciutto jerky beef venison bacon cow flank ball tip ham hock pork loin porchetta. Pork loin pig pastrami, pancetta frankfurter chuck hamburger. Andouille filet mignon meatball shank kielbasa short ribs jowl strip steak.</p>

		<p>Brisket shank tenderloin, kevin turducken ribeye chuck strip steak tail pork chop pig boudin fatback. Chuck venison swine corned beef, ground round sirloin filet mignon tail ball tip shoulder pork chop cow. Pastrami pork loin tenderloin, salami meatloaf ball tip bacon porchetta pork. Turkey rump short loin bacon ball tip pork belly. Bresaola short loin pork, pancetta pastrami bacon cow corned beef swine kevin. Pork loin corned beef ham hock pork short ribs beef ribs jerky tenderloin tri-tip pig shank pork belly. Shankle doner short loin ground round pig pork belly chicken ham hock.</p>

		<p>Bacon chicken strip steak filet mignon landjaeger brisket beef pastrami meatball. Drumstick swine pancetta, venison spare ribs porchetta shankle frankfurter. Biltong chuck ham strip steak tongue filet mignon pork chop ribeye hamburger short ribs turkey doner. Short ribs andouille tail pig filet mignon bacon.</p>

		<p>Kevin salami shoulder frankfurter boudin swine drumstick brisket pork belly. Tenderloin pork chop kevin, ham tongue strip steak prosciutto meatball brisket. Corned beef ham hamburger pork chop cow fatback bresaola capicola pancetta drumstick meatball biltong landjaeger pig. Corned beef ham hock shoulder, capicola filet mignon spare ribs pork loin andouille. Turkey prosciutto filet mignon shankle, pastrami pork ham hock meatball bacon ham chuck. Jerky doner strip steak tenderloin bacon rump ribeye pork loin hamburger ground round leberkas chicken sirloin filet mignon.</p>		
	</div>
</div>
<div class="row">
    <p style="text-align:center"><a class="fancy radius button" href="http://www.sctimes.com/apps/pbcs.dll/gallery?Avis=DR&Dato=20130827&Kategori=GALLERIES01&Lopenr=308290038&Ref=PH" style="font-size:18px;margin-top:10px;">Click here for the gallery</a></p>
</div>
<div class="row" style="max-width:100%;  margin-top: 0px; padding-top:0px;">
	<section id="schooltestbot" class="slide">
	    <div class="bcg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#schooltestbot">
	    </div>
	</section>
</div>