/* Custom font styling */

p {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h4, h5 {
	font-family: 'Futura Today Light', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-highlight: none;
	-webkit-hyphenate-character: auto;
}

body {
	font-family: 'Futura Today Light', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	background-color: #ECEFF1;
}

.textwhite {
	color: white;
	text-shadow: 0 4px 6px #000;
}

/* Modifying Foundation classes */

.row {
	max-width: 70%;
	margin-top:1em;
	/*margin-bottom:1em;*/
	padding-top:.5em;
	background: #f6f6f6 url(http://www.gannett-cdn.com/sctimes/static/uscp-web-static-23.0.3/images/patterns/noise_f6f6f6.png) repeat top left;
}

.cover {
	width:100vw;
	background: url(http://www.placekitten.com/1920/1080);
}

.shadow {
	box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.4);
}

/* Modifying masthead */

.site-nav-logo-link img {
	height:40px;
}

ul {
    list-style-type: none;
}

.top-bar {
	background: rgba(0,0,0,0.7);
}


/* Parallax test */

.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.hsContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.hsContent {
	max-width: 100%;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	left: 20%;
	right:20%;
	top: 50%;
}	
	.hsContent h1  {
		text-align: center;
		/*color: #fff8de;*/
		/*background-color: rgba(0,0,0,0.5);*/
		/*padding: 10px 5px;*/
		font-size:78px;
		font-size: 4vw;
		/*line-height: 38px;*/
		/*margin-bottom: 12px;*/
	}
	.hsContent h2  {
		color: #fff8de;
		/*background-color: rgba(0,0,0,0.5);*/
		padding: 10px 5px;
		font-size: 35px;
		line-height: 38px;
		margin-bottom: 12px;
	}

	.hsContent h3 {
		font-style: italic;
		text-align: center;
		color:white;
		padding: 10px 5px;
		font-size: 1vw;
		font-size:18px;
		margin-bottom: 12px;
	}
	.hsContent p {
		width: 400px;
		color: #b2b2b2;
	}
	.hsContent a {
		color: #b2b2b2;
		text-decoration: underline;
	}

/* Slide 1 */
#schooltesttop .bcg {background-image:url(http://www.lorempixel.com/1920/1080)}
#schooltesttop .hsContent {
	bottom: 200px;
	top: auto;
}

#cover .bcg {background-image:url(http://www.lorempixel.com/sports/1920/1080)}
#cover .hsContent {
	bottom: 300px;
	top: auto;
}


#ad1 .bcg {background-image:url(http://www.lorempixel.com/1680/1050)}
#ad1 .hsContent {
	bottom: 200px;
	top: auto;
}

#schooltestbot .bcg {background-image:url(http://www.lorempixel.com/1280/720)}
#schooltestbot .hsContent {
	bottom: 200px;
	top: auto;
}

.slide {
	height: 100vh;
}

body, html {
	height: 100%;
	min-height: 100%;
}

.fixed-custom{
	position:fixed;
	z-index: 99;
	width:100%;
}