  <div class="fixed">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">SCTimes</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
          <li><%= link_to "High School Football", "#" %></li>
        </ul>
        <!-- Right Nav Section -->
        <ul class="right">
          <li><%= link_to "Cover Story", "#" %></li>
          <li class="has-dropdown">
            <a href="#">Teams & Conferences</a>
            <ul class="dropdown">
              <li class="has-dropdown">
                <a href="#">Central Lakes Conference</a>
                <ul class="dropdown">
                  <li><a href="">Rocori</a></li>
                  <li><a href="">St. Cloud Tech</a></li>
                  <li><a href="">St. Cloud Apollo</a></li>
                  <li><a href="">Sartell</a></li>
                  <li><a href="">Sauk Rapids</a></li>
                </ul>
              </li>
              <li class="has-dropdown">
                <a href="#">Granite Ridge Conference</a>
                <ul class="dropdown">
                  <li><a href="">St. Cloud Cathedral</a></li>
                  <li><a href="">Albany</a></li>
                  <li><a href="">Foley</a></li>
                  <li><a href="">Little Falls</a></li>
                  <li><a href="">Milaca</a></li>
                  <li><a href="">Becker</a></li>
                </ul>
              </li>
              <li class="has-dropdown">
                <a href="#">West Central Conference</a>
                <ul class="dropdown">
                  <li><a href="">Paynesville</a></li>
                  <li><a href="">Sauk Centre</a></li>
                  <li><a href="">Melrose</a></li>
                </ul>
              </li>
              <li class="has-dropdown">
                <a href="#">Central Minnesota Conference</a>
                <ul class="dropdown">
                  <li><a href="">Eden Valley-Watkins</a></li>
                  <li><a href="">Holdingford</a></li>
                  <li><a href="">Kimball</a></li>
                  <li><a href="">Pierz</a></li>
                </ul>
              </li>
              <li class="has-dropdown">
                <a href="#">Prairie South Conference</a>
                <ul class="dropdown">
                  <li><a href="">Royalton</a></li>
                  <li><a href="">Upsala/Swanville</a></li>
                </ul>
              </li>
              <li class="has-dropdown">
                <a href="#">Wright County Conference</a>
                <ul class="dropdown">
                  <li><a href="">Annandale</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>
  </div>